* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}



/*menu*/
.menu {
  @include menu;
  


&__logo {
  @include logo;
  
}


}

ul#horizontal li {
  display:inline;
  float: right;

}

.menu-horizontal{
  &__li{
  margin: .5em;
}
&__li1{
  margin: .5em;
}
}


.input-menu {
  @include input_menu;
  
}


/*grilla principal*/


.container{
  @include container;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 95%;
  margin-left: 4em;
  
  
}


.grid-item {
  
  padding: 20px;
  text-align: center;
  width: 100%;
 
  
  
  &__h2{
    font-size: 2em;
    text-align: left;
    font-weight: 800;
    margin-bottom: 1em;
    
  }
  &__p{
    font-size: 1em;
    text-align: left;
   
  }

  &__img{
    width: 100%;
  }
}







/*grilla derecha*/

.grid-container-aside {
  display: grid;
  grid-template-columns: auto;
 width: 20%;
 
 text-align: left;


&__item {
  
  margin: 3em;
  width: 70%;
}

}



.cabecera-listado {
 
  border-bottom: 1px solid gray;
  
  &__h1{
    font-size: 1.5em;
    font-weight: 800;
    

  }


  &__p{
    margin-top: 1em;
    font-size: 1em;
    text-align: left;
  }
}



.tags {
  border-bottom: 1px solid gray;

  &__h1{
    font-size: 1.5em;
    font-weight: 800;
    padding: 1em 0 1em 0;
  }
  

  
  &__ul{
    padding-bottom: 1em;
    list-style: none;
    display:inline-block

  }

  &__li{
    @include tags_li;
 

  }

  
}





.noticias-destacadas {

  text-align: left;

  &__h1{
    font-size: 2.5em;
  }

  &__item {
    font-weight: 800;
  
  }

  &__h4 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &__img{
    width: 100%;
  }
  
}

/*bottom*/


/*buttons*/
.group input,
.group button {
  @include button-suscribe;
}

.group button {
  @include button-text;
}


.footer {
  @include footer;
  

  &__newsletter{
    background-color: #f2f4f5;
    width: 100%;
    height: 9em;
  }


  &__h2{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: .5em;
    padding-top: .5em;

  }

  &__p{
    margin-bottom: 1em;
  }

  &__p2{
    margin-top: 1em;

  }
}






/*mediaqueries*/




/*medium devices*/
@media (max-width: 991.98px) { 


  /*grilla principal*/



.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  width: 100%;
  
  
  
}

/*grilla derecha*/

.grid-container-aside {
 
 display: none;

}
}




  




/*small divices*/
@media (max-width: 575.98px){

 

  /*nav*/
  .menu-horizontal{
   width: 80%;
   float: right;
   display:inline;
   margin-bottom: 1em;


    &__li{
    margin: .5em;
  }
  &__li1{
    display: none;
  }
  }

  /*grilla derecha*/

.grid-container-aside {
  display: grid;
  grid-template-columns: auto;
 width: 20%;
 
 text-align: left;
 display: none;


&__item {
  
  margin: 3em;
  width: 70%;
}

}


/*grilla principal*/


.container{
  
  width: 100%;
}


.grid-container {
  display: grid;
  grid-template-columns: auto ;
  width: 90%;
  margin-left: 2em;
  
  
}

.grid-item {
  
  &__img{
    width:100%;
    height: 20em;
    object-fit: cover;
  }
}

}





